<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('products.browse_products') }}">E-Commerce</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if session.get('user_id') %}
                    {% set current_user = User.query.get(session.get('user_id')) %}
                    {% if current_user.username == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.manage_users') }}">Manage Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.manage_products') }}">Manage Products</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('products.browse_products') }}">Browse Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('orders.my_orders') }}">My Orders</a>
                        </li>
                        {% if current_user.username == 'seller' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('products.seller_dashboard') }}">Seller Dashboard</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
